@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* Select Item 배경색 추가 */
    --select-primary: oklch(0.95 0.02 220);
    --select-primary-foreground: oklch(0.3 0.15 220);

    /* SelectContent 배경 추가 */
    --select-content-bg: oklch(1 0 0); /* 흰색 배경 */
    --select-content-foreground: oklch(0.2 0 0); /* 검정 텍스트 */

    --share-primary: oklab(100% 0 -0.00011);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);

    /* 다크모드 Select Item 색상 */
    --select-primary: oklch(0.25 0.08 220);
    --select-primary-foreground: oklch(0.8 0.1 220);

    /* 다크모드 SelectContent */
    --select-content-bg: oklch(0.15 0 0); /* 다크 배경 */
    --select-content-foreground: oklch(0.9 0 0); /* 밝은 텍스트 */
  }
}
